<!DOCTYPE html>
<html>
<head>
	<title>Flowing Bottom Hole Pressure Prediction</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h2 class="text-center my-5">Flowing Bottom Hole Pressure Prediction</h2>
			<form method="POST" action="/predict">
				<div class="form-group">
					<label for="oil_rate">Oil Rate:</label>
					<input type="text" class="form-control" id="oil_rate" name="oil_rate">
				</div>
				<div class="form-group">
					<label for="depth">Depth:</label>
					<input type="text" class="form-control" id="depth" name="depth">
				</div>
				<div class="form-group">
					<label for="water_rate">Water Rate:</label>
					<input type="text" class="form-control" id="water_rate" name="water_rate">
				</div>
				<div class="form-group">
					<label for="tubing_id_1_9992">Is tubing ID 1.9992 ?:</label>
					<select class="form-control" id="tubing_id_1_9992" name="tubing_id_1_9992">
						<option value="Yes">Yes</option>
						<option value="No">No</option>
					</select>
				</div>
				<div class="form-group">
					<label for="pwh">Wellhead pressure:</label>
					<input type="text" class="form-control" id="pwh" name="pwh">
				</div>
				<button type="submit" class="btn btn-primary">Predict</button>
			</form>
			{% if prediction_output is not none %}
				<div class="alert alert-success mt-5" role="alert">
				  The predicted flowing bottom-hole pressure is {{prediction_text}}
				</div>
			{% endif %}
		</div>
	</div>
</div>

</body>
</html>
